@model Teacher
@{
    ViewData["Title"] = "Detail";
}

<div class="row">
    <img src="~/img/teacher/@Model.Image" width="400" height="200" />

</div>
<div class="row mt-5">
    <div class="col-2">
        <h6>FullName</h6>
    </div>
    <div class="col-4">
        <p> @Model.FullName</p>
    </div>


</div>
<div class="row mt-2">
    <div class="col-2">
        <h6>Position</h6>
    </div>
    <div class="col-4">
        <p> @Model.Position</p>
    </div>
</div>
<div class="row mt-2">
    <div class="col-2">
        <h6>Facebook</h6>
    </div>
    <div class="col-4">
        <p> @Model.Facebook</p>
    </div>
</div>
<div class="row mt-2">
    <div class="col-2">
        <h6>Twitter</h6>
    </div>
    <div class="col-4">
        <p> @Model.Twitter</p>
    </div>
</div>
<div class="row">
    <div class="col-2">
        <h6>Pinterest</h6>
    </div>
    <div class="col-4">
        <p> @Model.Pinterest</p>
    </div>
</div>
<div class="row mt-2">
    <div class="col-2">
        <h6>VContact</h6>
    </div>
    <div class="col-4">
        <p> @Model.VContact</p>
    </div>
</div>
<div class="row mt-2">
    <div class="col-2">
        <h6>Category</h6>
    </div>
        <div class="col-4">
            <p> @Model.Category.Name</p>
        </div>
</div>

<div class="row mt-3">
    <a class="btn btn-dark" asp-action="Index">Go Back</a>
</div>

