@model Course
@{
    ViewData["Title"] = "Detail";
}

<div class="row">
    <img src="~/img/course/@Model.Image" width="400" height="200" />

</div>
<div class="row mt-5">
    <div class="col-2">
        <h6>Title</h6>
    </div>
    <div class="col-4">
        <p> @Model.Title</p>
    </div>


</div>
<div class="row mt-2">
    <div class="col-2">
        <h6>StartTime</h6>
    </div>
    <div class="col-4">
        <p> @Model.StartTime.ToString("MMMM")</p>
    </div>
</div>
<div class="row mt-2">
    <div class="col-2">
        <h6>Description</h6>
    </div>
    <div class="col-4">
        <p> @Model.Description</p>
    </div>
</div>
<div class="row mt-2">
    <div class="col-2">
        <h6>ClassDuration</h6>
    </div>
    <div class="col-4">
        <p> @Model.ClassDuration <span> min</span></p>
    </div>
</div>
<div class="row">
    <div class="col-2">
        <h6>Duration</h6>
    </div>
    <div class="col-4">
        <p> @Model.Duration <span> Month</span></p>
    </div>
</div>
<div class="row mt-2">
    <div class="col-2">
        <h6>Language</h6>
    </div>
    <div class="col-4">
        <p> @Model.Language</p>
    </div>
</div>
<div class="row mt-2">
    <div class="col-2">
        <h6>Student Count</h6>
    </div>
    <div class="col-4">
        <p> @Model.StudentsCount</p>
    </div>
</div>
<div class="row mt-2">
    <div class="col-2">
        <h6>Skill Level</h6>
    </div>
    <div class="col-4">
        <p> @Model.SkilLevel</p>
    </div>
</div>



<div class="row mt-3">
    <a class="btn btn-dark mr-3" asp-action="Index">Go Back</a>
    <form method="post">
        <input class="btn btn-danger mr-3" type="submit"  value="Delete" />
    </form>
</div>
