@model IEnumerable<Blog>
@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
    if (ViewBag.Page == null)
    {
        ViewBag.Page = 1;
    }
}
    <input type="hidden" id="hidden" value="blog" />
<!-- Banner Area Start -->
<partial name="_partialBanner"/>
<!-- Banner Area End -->
<!-- Blog Start -->
<div class="blog-area pt-150 pb-150">
    <div class="container">
        <div class="row">
            @*@await Component.InvokeAsync("Blog", 2)*@
            @foreach (var blog in Model)
            {
                <div class="col-md-4 col-sm-6 col-xs-12 mt-4" style="margin-top:50px">
                    <div class="single-blog">
                        <div class="blog-img">
                            <a href="blog-details.html"><img src="~/img/blog/@blog.Image" alt="blog"></a>
                            <div class="blog-hover">
                                <a href="blog-details.html"><i class="fa fa-link"></i></a>
                            </div>
                        </div>
                        <div class="blog-content">
                            <div class="blog-top">
                                <p>By @blog.Author  /  @blog.WriteTime.ToString("dddd, dd MMMM yyyy") /  <i class="fa fa-comments-o"></i> 4</p>
                            </div>
                            <div class="blog-bottom">
                                <h2><a href="blog-details.html">@blog.Title </a></h2>
                                <a asp-controller="Blog" asp-action="Detail" asp-route-id="@blog.Id">read more</a>
                            </div>
                        </div>
                    </div>
                </div>

            }

        </div>
        <div class="row mt-5 justify-content-center">
            <nav aria-label="...">
                <ul class="pagination pagination-sm">
                    @for (int i = 1; i <= ViewBag.PageCount; i++)
                    {
                        if (ViewBag.Page == i)
                        {
                            <li class="page-item disabled"><a class="page-link" href="#">@i</a></li>
                        }
                        else
                        {
                            <li class="page-item"><a class="page-link"  asp-controller="Blog" asp-action="Index" asp-route-page="@i">@i</a></li>
                        }
                    }
                </ul>
            </nav>
        </div>
    </div>
</div>
<!-- Blog End -->
<!-- Subscribe Start -->
<partial name="_partialSubscribe" />
<!-- Subscribe End -->


